<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book details</title>
    <style type="text/css">
        body {
            padding: 50px;
        }
    </style>
    <script>
        window.onload = async () => {
            const lis = document.getElementById("bookUl").getElementsByTagName("li")
            const urlParams = new URLSearchParams(window.location.search);
            const bookidParam = urlParams.get('id');

            const response = await fetch("/api/books/" + bookidParam);
            const book = await response.json();
           
            lis[0].innerHTML += book.id;
            lis[1].innerHTML += book.title;
            lis[2].innerHTML += book.authorInfo;
            lis[3].innerHTML += book.genreInfo;
        }
    </script>
</head>
<body>

<h3>Book Info:</h3>
<ul id="bookUl">
    <li>ID: </li>
    <li>Title: </li>
    <li>Author: </li>
    <li>Genre: </li>
</ul>
<a href="list.html" th:href="@{/}">
    <button type="button">Back to list</button>
</a>