<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="questionDao" class="ru.sladkov.otus.spring.hw01.service.impl.QuestionDaoCsvImpl">
        <constructor-arg name="pathToCsv" value="/questions.csv"/>
    </bean>

    <bean id="ioService" class="ru.sladkov.otus.spring.hw01.service.impl.IOServiceStreamsImpl">
        <constructor-arg name="input" value="#{T(System).in}"/>
        <constructor-arg name="output" value="#{T(System).out}"/>
    </bean>

    <bean id="questionsService" class="ru.sladkov.otus.spring.hw01.service.impl.TestingServiceImpl">
        <constructor-arg name="questionsLoader" ref="questionDao"/>
        <constructor-arg name="ioService" ref="ioService"/>
    </bean>

</beans>